/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Inter";

	--nav-height: 64px;
}

body {
	font-family: var(--font-sans), serif;
	background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
}

.product-card {
    width: 300px; 
    background-color: white;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    text-align: left;
    padding: 15px; 
}

/* Image Styling */
.image-container {
    background-color: gray; 
    padding: 10px; 
    border-radius: 4px; 
    margin-bottom: 15px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain; 
}

/* Text Content Styling */
.card-content {
    padding: 0 5px;
}

.product-name {
    font-size: 125%;
    font-weight: 500;
    margin: 0 0 5px 0;
    color: #333;
}

.product-price {
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: black; 
}

.product-description {
    font-size: 100%;
    color: gray;
    margin: 0 0 15px 0;
}

/* Button Styling */
.buy-button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-secondary); 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: var(--color-secondary);
}